<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500'><link rel="stylesheet" href="../static/register.css">

</head>
<body>
<!-- partial:index.partial.html -->
<section class="form-box" >
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 form-wizard">
					
						<!-- Form Wizard -->
                    	<form role="form" action="{{ url_for('r')}}" method="post">

                    		<h3>Sign Up for our gym</h3>
                    		<p>Fill all form field to go next step</p>
							
							<!-- Form progress -->
                    		<div class="form-wizard-steps form-wizard-tolal-steps-4">
                    			<div class="form-wizard-progress">
                    			    <div class="form-wizard-progress-line" data-now-value="12.25" data-number-of-steps="4" style="width: 12.25%;"></div>
                    			</div>
								<!-- Step 1 -->
                    			<div class="form-wizard-step active">
                    				<div class="form-wizard-step-icon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    				<p>Personal</p>
                    			</div>
								<!-- Step 1 -->
								
								<!-- Step 2 -->
                    			<div class="form-wizard-step">
                    				<div class="form-wizard-step-icon"><i class="fa fa-location-arrow" aria-hidden="true"></i></div>
                    				<p>Contact</p>
                    			</div>
								<!-- Step 2 -->
								
								<!-- Step 3 -->
								<div class="form-wizard-step">
                    				<div class="form-wizard-step-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
                    				<p>Official</p>
                    			</div>
								<!-- Step 3 -->
								
								<!-- Step 4 -->
								<div class="form-wizard-step">
                    				<div class="form-wizard-step-icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                    				<p>Payment</p>
                    			</div>
								<!-- Step 4 -->
                    		</div>
							<!-- Form progress -->
                    		
							
							<!-- Form Step 1 -->
                    		<fieldset>

                    		    <h4>Personal Information: <span>Step 1 - 4</span></h4>
								<div class="form-group">
                    			    <label>First Name: <span>*</span></label>
                                    <input type="text" name="First Name" placeholder="First Name" class="form-control required">
                                </div>
                                <div class="form-group">
                    			    <label>Last Name: <span>*</span></label>
                                    <input type="text" name="Last Name" placeholder="Last Name" class="form-control required">
                                </div>
								<div class="form-group">
                    			    <label>Gender : </label>
                                    <label class="radio-inline">
									  <input type="radio" name="Gender" value="option1" checked="checked"> Male
									</label>
									<label class="radio-inline">
									  <input type="radio" name="Gender" value="option2"> Female
									</label>
                                </div>
								<div class="container-fluid">
								<div class="row form-inline">
								<div class="form-group col-md-3 col-xs-3">
                                    <label>Date Of Birth: </label>
								</div>
								<div class="form-group col-md-3 col-xs-3">
									<label>Date: </label>
                                    <select class="form-control">
									  <option>01</option>
									  <option>02</option>
									  <option>03</option>
									  <option>04</option>
									  <option>05</option>
									</select>
								</div>
								<div class="form-group col-md-3 col-xs-3">
									<label>Month: </label>
                                    <select class="form-control">
									  <option>Jan</option>
									  <option>Feb</option>
									  <option>Mar</option>
									  <option>Apr</option>
									  <option>May</option>
									</select>
								</div>
								<div class="form-group col-md-3 col-xs-3">
									<label>Year: </label>
                                    <select class="form-control">
									  <option>2017</option>
									  <option>2018</option>
									  <option>2019</option>
									  <option>2020</option>
									  <option>2021</option>
									</select>
								</div>
                                </div>
								</div>
<!--							-->
                                <div class="form-group">
                    			    <label>User Name: <span>*</span></label>
                                    <input type="text" name="Username" placeholder="User Name" class="form-control required">
                                </div>
								<div class="form-group">
                    			    <label>Password: <span>*</span></label>
                                    <input type="password" name="Password" placeholder="User Password" class="form-control required">
                                </div>
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
							<!-- Form Step 1 -->

							<!-- Form Step 2 -->
                            <fieldset>

                                <h4>Contact Information : <span>Step 2 - 4</span></h4>
								<div class="form-group">
                    			    <label>Email: <span>*</span></label>
                                    <input type="email" name="Email" placeholder="Email" class="form-control required">
                                </div>
								<div class="form-group">
                    			    <label>Phone: <span>*</span></label>
                                    <input type="text" name="Phone" placeholder="Phone" class="form-control required">
                                </div>
                                <div class="form-group">
                    			    <label>Address: <span>*</span></label>
                                    <input type="text" name="Address" placeholder="Address" class="form-control required">
                                </div>


								
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
							<!-- Form Step 2 -->

							<!-- Form Step 3 -->
                            <fieldset>

                                <h4>Official Information: <span>Step 3 - 4</span></h4>
								<div class="form-group">
                    			    <label>your weight <span>*</span></label>
                                    <input type="text" name="weight" placeholder="weight" class="form-control required">
                                </div>
                                <div class="form-group">
                    			    <label>Tall <span>*</span></label>
                                    <input type="text" name="tall" placeholder="Tall" class="form-control required">
                                </div>
								<div class="form-group">
                    			    <label>Age <span>*</span></label>
                                    <input type="text" name="Age" placeholder="you age" class="form-control required">
                                </div>
								<div class="form-group">
                    			    <label>if there is any diseases <span>*</span></label>
                                    <input type="text" name="diseases" placeholder="diseases" class="form-control required">
                                </div>

								<br/>
                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="button" class="btn btn-next">Next</button>
                                </div>
                            </fieldset>
							<!-- Form Step 3 -->
							
							<!-- Form Step 4 -->
							<fieldset>

                                <h4>Payment Information: <span>Step 4 - 4</span></h4>
								<div style="clear:both;"></div>

                    			<div class="form-group">
                    			    <label>subcribtion : </label>
                                    <label class="radio-inline">
									  <input type="radio" name="Payment" value="month" checked="checked"> monthly
									</label>
									<label class="radio-inline">
									  <input type="radio" name="Payment" value="3 months"> 3 months
									</label>
									<label class="radio-inline">
									  <input type="radio" name="Payment" value="year"> yearly
									</label>
									<label class="radio-inline">
									  <input type="radio" name="Payment" value="50"> 50 coins
									</label>
									<label class="radio-inline">
									  <input type="radio" name="Payment" value="100"> 100 coins
									</label>
                                </div>


                                <div class="form-wizard-buttons">
                                    <button type="button" class="btn btn-previous">Previous</button>
                                    <button type="submit" class="btn btn-submit">Submit</button>
                                </div>
                            </fieldset>
							<!-- Form Step 4 -->
                    	
                    	</form>
						<!-- Form Wizard -->
                    </div>
                </div>
                    
            </div>
        </section>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script><script  src="../static/register.js"></script>

</body>
</html>
